
.results {
max-width: 650px;
margin: 0 auto;
text-align: left
}
.results-org {
margin: 20px 0;
border: 1px solid #F9F64B;
padding: 15px;
}

.results-org {div 
padding: 15px;
}

.results-org-location
{
background-color: #FAC67F;
border: 3px solid #F9F64B;
border-radius: 5px;
padding: 10px;
margin: 10px auto;
}
.location-description {
font-style: italic;
font-family: arial;
color: #36AD9E;}
